.select-token-container .Select-control {
  border-bottom-width: 1px;
  padding: 2px;
  color: var(--gray-text);
  font-size: 12px;
}

.select-token-container .Select-control .Select-input {
  height: auto;
  display: inherit !important;
}

.select-token-container .Select-control svg + span {
  margin-left: 5px;
}

.select-token-item {
  width: 100%;
  display: flex;
  margin-left: 0.75rem;
  height: auto;
}

.select-token-item-text {
  margin-left: 0.5rem;
  font-size: 12px;
  color: var(--gray-text);
}
