.tokens-dropdown-container .Select-control {
  padding: 2px;
  width: 8rem;
}

.tokens-dropdown-container .Select-control .Select-input {
  height: auto;
  display: inherit !important;
}

.tokens-dropdown-item {
  width: 100%;
  margin-left: 0.1rem;
  height: auto;
}

.tokens-dropdown-item-text {
  margin-left: 0.5rem;
}
