.label-spacing-left {
  margin-left: 0.3rem;
}

.combo-selector-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1rem 0.6rem 0 0.6rem;
  border-color: #007bff transparent transparent transparent;
}

.default-icon {
  font-size: 1.3rem;
  margin-left: 0.5rem;
}

.hand-over {
  cursor: pointer;
}

.body {
  width: 100%;
  overflow-y: auto;
  height: calc(100vh - 113px);
  overflow-x: hidden;
  font-family: var(--primary-font);
}

.delete-button {
  background: #FF001F;
  color: white;
}

.form-segment {
  display: flex;
  margin: 20px 1em;
  justify-content: center;
}

.form-segment > button {
  margin: 0.2em;
}

.form-segment > span {
  color: var(--gray-text);
  font-size: 14px;
  font-weight: 400;
  margin-right: 10px;
}

.app-loader-message {
  text-align: center;
  font-family: var(--primary-font);
  color: var(--gray-text);
  font-size: 0.8rem;
  margin-bottom: 20px;
  font-weight: 300;
}

.block-ui::before {
  width: 100vh;
  height: 100vh;
  z-index: 1020;
  background: rgba(255, 255, 255, 0.8);
  content: " ";
  position: absolute;
}

.block-ui-message {
  width: 100%;
  height: 100%;
  z-index: 1021;
  background: transparent;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-ui-message>div {
  color: var(--primary-color);
  font-weight: bold;
  text-transform: uppercase;
  padding: 1em;
  text-align: center;
  font-size: 0.8em;
}