.subdomain-section .search-bar-container {
  padding: 0;
}

.subdomain-section .search-bar {
  border-color: #DFDFDF;
  text-align: left;
  padding-left: 8px;
  padding-bottom: 14px;
}

.subdomain-section .search-bar::-webkit-input-placeholder {color: var(--gray-text);}
.subdomain-section .search-bar:-ms-input-placeholder {color: var(--gray-text);}
.subdomain-section .search-bar::placeholder {color: var(--gray-text);}

.subdomain-page {
  padding: 20px;
}